<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Zilla+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
<title>Assignment 1 Project Plan for Suyeon Yang</title>
 <style type="text/css">
  body { font-family: Arial; margin-left: 3em; }
  h1, h2 { margin-left: -1em; }
  h2 { margin-top: 1.5em; margin-bottom: 0.5em; }
  
  .image{
      max-height: 50%;
      max-width: 50%;
  }
 </style>
</head>
 
<body>
<h1>CP1406/CP1806/CP5638 - Assignment 1 - Project Plan</h1>
<h2>Name: Petite Treats</h2>
<h2>Goals</h2>
<p>"We are a small family-run local business, operating in Kirwan since 2012, hoping to improve our business by getting on the Internet. Homepage should be very appealing and drive interest in our bakery."</p>
<p> - The main goal of this web page is for expansion of their small family-run local bakery business by getting in the internet for further improvements. In addition, Sample images of the products should be visualized in pages to appeal and drive the interest of customers.</p>

<h2>Success Evaluation</h2>
<p>- The success can be evaluated by the increasing in the number of customers who will get attracted by the page and eventually sign up for weekly specials, and when more of young customers of age 17-35 come and visit their bakery.</p>

<h2>Target Audience</h2>
<p>"We have customers of all ages, however, we would like to attract young families and young people, possibly around the age of 17-35, to our bakery"</p>
    <p>- The client wants young people for about 17 to 35 years old to be attracted to their web pages and eventually their bakery. To make this happen, designing in a modern and classy way could be a way to get attention from this specific age group.</p>

<h2>Content Information</h2>
<ol>
    <li><strong>Navigation</strong> - Should use a horizontal navigation at the top. Links should be repeated in the
        footer.</li> <br>
    <li><strong>Home page</strong> - should be very appealing and drive interest in our bakery. We also want to
        show some sample images of the products to be displayed to attract the site visitors'
        attention.</li>
        <br>
        <ul>
            <li>We want our customers to be able to sign up for weekly specials! We think there
                should be a page for our weekly specials to further attract customers.</li>
            <li>The home page should highlight these two customers comments:</li> <br>
                <ul>
                    <li>"Petite Treats has the best cheesecake I've ever had. Always fresh, and melts in the
                    mouth. Would recommend highly!"</li>
                    <li>"I'm addicted to the Danish pastries and always drop in here on my way to work."</li>
                </ul>
        </ul> 
        <p>- There will be some bakery pictures together with some of the sample images of their products for attractiveness. There would be a part where it emphasizes the necessity for signing up to get access to weekly specials. Comments which they requested would also be in the home page.</p>
        
        <br>

       
    <li><strong>About Me</strong> - bragging on our new bakery, great location near Willows Shopping Centre. Our
        baker is an artisan-baker and was trained in Paris. Some of our current customers are James
        Cook University, the Cowboys and Telstra.</li>
        <p>- Their location, baker, and some of their current customers will be portraited in this portion. </p>
         <br>
    <li><strong>Menu (Image Gallery)</strong> - this will have six images that link to 6 pages with details about each
        bakery item. Menu can be on the home page or on a separate page. The products we would
        like to showcase are:</li> <br>
        <ul>
            <li>Donuts ($4.50)</li>
            <li>Vanilla Slice ($4.50)</li>
            <li>Randy Tart ($3.95)</li>
            <li>Custard Tart (3.95)</li>
            <li>Raspberry cheesecake ($5.50)</li>
            <li>Apple Cake Slice ($5.50)</li>
        </ul> <br>
    <li><strong>Specials Page</strong> - 
        This will have 3-4 items on special (25% off, in-store only, you pick the items!)
        Page should show pictures of the items and sales price.</li> <br>
    <li><strong>Footer Information</strong> - </li> <br>
        <ul>
            <li>Contacts: 0455 5555 555</li>
            <li>Catering: 0433 3333 333</li>
            <li>Address: 123 Prize Lane, Kirwan, QLD</li>
        </ul>
    </li>
        
</ol>

<h2>Project Timeline</h2>
<img src = "../static/images/timeline.jpg" alt="Project Timeline">
<h2>Site flowchart</h2>
<img src = "../static/images/diagram.JPG" alt = "Site Flowchart">

<h2>Estimated Budget</h2>
<ul>
<li><strong>Domain Name:</strong> $7.88 anually</li>
<li><strong>Hosting:</strong> $56 monthly</li>
<li><strong>Development Fee:</strong> $1500</li>
<li><strong>Maintenance Fee:</strong> $30 monthly</li>
</ul>

<h2>Images Used</h2>
 
    <img src = "../static/images/headerimage.jpg">
    <img src = "../static/images/cheesecake.png"> 
    <img src = "../static/images/danish.jpg">
    <img src = "../static/images/bakery.jpg">
    <img src = "../static/images/baker.jpg">
    <img src = "../static/images/location.png">
    <img src = "../static/images/donuts.jpg">
    <img src = "../static/images/vanila.png">
    <img src = "../static/images/randytart.jpg">
    <img src = "../static/images/custardtart.jpg">
    <img src = "../static/images/raspcheese.jpg">
    <img src = "../static/images/applecake.jpg">
    <img src = "../static/images/muffin.jpg">
    <img src = "../static/images/redvelvet.jpg">
    <img src = "../static/images/waffle.jpg">
    <img src = "../static/images/scone.jpg">


<h2>Fonts and Colors Guide</h2>
<h3>Colors Used</h3><br>
<span class = "colorboxyellow">#F4F3EF</span><br>
<span class = "colorboxwhite">#FEBD2F</span><br>
<h3>Fonts Used</h3><br>
<ol>
    <li class = "comfortaa">Comfortaa</li>
    <li class = "lobster">Lobster</li>
    <li class = "poppins">Poppins</li>
    <li class = "roboto">Roboto</li>
    <li class = "zilla">Zilla Slab</li>
</ol>

<h2>Response To Feedback</h2>
<h3>Responsiveness</h3><br>
<h4>Image Responsiveness</h4><br>
<ul>
    <li>Image Header Fixed</li>
    <p>- The header image should move together with the banner relatively with the parent div</p>
    <li>Page images</li>
    <p>- Images should fall over each other with its corresponding texts when cramped or resized</p><br>
</ul>
<h4>Navigation Bar Responsiveness</h4><br>
    <p>- Navigation bar should be a burger menu - which becomes an organized menu when resized</p><br>
<h4>Text Responsiveness</h4><br>
<ul>
    <ol>- The text should not cramp too much - should stop the text area from becoming narrower in a certain point</ol><br>
</ul>
<h3>Design</h3><br>
<h4>Hovering on a menu element</h4><br>
<ul>
    <ol>- Add an element that indicates where the user is - should highlight the certain element when visited</ol>
</ul>

<h2>Design Rationalisation</h2>
<h3>Homepage</h3><br>
<ul>
    <li>Color Choices</li>
    <p>- The colors will be consistent with the colors shown above - #FEBD2F and #333 as the header and footer respectively, and #F4F3EF as the background. Too much colors may affect the coherence of the design.</p>
    <li>Images</li>
    <p>- Images will have a curved border and will be beside each comment of the customers which the client requested to put in the home page.</p>
    <li>Fonts</li>
    <p>- The fonts introduced above will be used accordingly - separate fonts for portions requiring emphasis and normal texts. </p><br>
</ul>

<h3>Specials</h3><br>
<ul>
    <li>Color Choices</li>
    <p>- The colors will be consistent with the colors shown above - #FEBD2F and #333 as the header and footer respectively, and #F4F3EF as the background. Too much colors may affect the coherence of the design. </p>
    <li>Images</li>
    <p>- Images will have a curved border and will be beside each other in a checkerboard matter with corresponding description below - the price and product name. </p>
    <li>Fonts</li>
    <p>- The fonts introduced above will be used accordingly - separate fonts for portions requiring emphasis and normal texts.</p><br>
</ul>

<h3>Product Detail Page</h3><br>
<ul>
    <li>Color Choices</li>
    <p>- The colors will be consistent with the colors shown above - #FEBD2F and #333 as the header and footer respectively, and #F4F3EF as the background. Too much colors may affect the coherence of the design. </p>
    <li>Images</li>
    <p>- The Images will be round bordered and will be arranged in a menu style. Each image will link to separate pages - in which a bigger and less rounded bordered image will be shown with description text below it.</p>
    <li>Fonts</li>
    <p>- The fonts introduced above will be used accordingly - separate fonts for portions requiring emphasis and normal texts.</p><br>
</ul>

<h3>Page Details</h3>
<img src = "../static/images/Homepage.jpg" class = "image">
<img src = "../static/images/Products.png" class = "image">
<img src = "../static/images/Specials.png" class = "image">
<img src = "../static/images/Contacts.png" class = "image">
<img src = "../static/images/Newsletter.png" class = "image">

<h2>Usability test plan</h2>
<h3>Goals and Objectives</h3><br>
<ul>
    <li>The ultimate goal of the testing is to grasp feedback which will decide if modification of some aspects is necessary.</li>
    <li>It is to understand how people navigate and look around the site - if it is being done similarly with the intention of the developer and the client.</li>
    <li>It is to understand whether users are successfully doing what they are ought to do without difficulties in handling some attributes - such as finding elements and filling up the forms necessary.</li>
    <li>It is to understand whether users can understand the information provided and if it is appropriate.</li><br>
</ul>
<h3>Targeting Users</h3><br>
<ul>
    <li>The target users are people of 17-35 in particular as requested by the client.</li>
</ul>

<h2>Usability Test Report</h2>
<h3>Prior Questions</h3>
<ol>
    <li>What is first impression of the website?</li>
    <li>Can you explain your experience from navigating the pages? (you have to navigate based on the testers demand.</li>
    <li>Is it easy to use?</li>
    <li>Are there any errors? if so is error handling well described (test newsletterform)</li>
    <li>Does the website give feedback to the user?</li>
    <li>Does the user want to purchase and re-visit the site ?</li>
    <li>Any comments on user experience form the tester?</li>
</ol> <br>


<h3>Learnability: How easy is it for users to accomplish basic tasks the first time they
encounter the design?</h3><br>
<p>- The users experienced a smooth exploration in navigating page to page. Necessary features and aspects were easy to find and was simple enough which avoided possible confusions. It was said that it seem perfectly planned overall, which made the website look prepared and tasks were able to be done without any doubts.</p><br>

<h3>Efficiency: Once users have learned the design, how quickly can they perform tasks?</h3><br>
<p>- The users proposed that the website was definitely easy to interact with. They expressed that there were no useless features that confused them and the form submitting section was also simple enough to interact with. Furthermore, they added that the validation of data were being done specifically in each portion which gave sufficient feedback when they input a wrong format of data. </p><br>

<h3>Memorability: When users return to the design after a period of not using it, how easily
can they reestablish proficiency?</h3><br>
<p>- According to the feedbacks they gave, it can be inferred that the website would still be easy to handle even after a period of time. In addition, further developments may even enhance the quality of the website in upcoming future.</p><br>

<h3>Errors: How many errors do users make, how severe are these errors, and how easily
can they recover from the errors?</h3><br>
<p>- The possible errors that the user may make in the website are when handling forms and its validating process. The errors are described as wrong and inappropriate inputs in the form. The users were able to recover from these errors for there were messages that served as their guidelines in completing the form successfully.</p><br>

<h3>Satisfaction: How pleasant is it to use the design?</h3><br>
<p>- They proposed that it was attractive and was aesthetically pleasing due to the good selection of color scheme for the website. They showed willingness to re-visit the website in the future as well. They added that the website was overall bright, eye-catching, and everything stayed in their proper positions and places.</p><br>




</body>
</html>